<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mahdizamanian</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    body {
      margin: 0px;
      padding: 0px;
    }
    .navbar {
      width: 100%;
      height: 100px;
      background-color: red;
    }
    .them {
    }
  </style>

  <body class="bg-[#1E293B]">
    <navbar class="flex bg-slate-400 h-[230px]">
      
    <div class="flex w-[100%]" id="navbar" >
      
      <div class="flex-initial w-[30%] h-[230px]">
        <img class="mx-auto my-5 w-[80%] rounded-[50%]" src="mehdizamanian.jpg"></img>
      </div>



      <div class="flex flex-col-reverse  bg-red-652 w-[70%]  ">
        <div class=" w-[100%] bg-black"><h1 class="pl-[15%] md:text-[15px] xl:text-[30px] text-white ">Senior dev is here :)</h1></div>  
        <div class=" w-[100%] bg-black"><h1 class="pl-[10%] md:text-[20px] xl:text-[50px] text-white ">Full-Stack Web Developer</h1></div>
      
      </div>


    </div>


    </navbar>


    
<br/>








    <button id="btnthem" type="submit" click="navcolor()" > them</button>



    <div id="game">
      <button type="submit" id="btn1">1</button>
      <button type="submit" id="btn2">2</button>
      <button type="submit" id="btn3">3</button>
    </div>

    <script src="index.js"></script>
    
    <script src="js/guess-number.js"></script>
  </body>
</html>
